.introContainer {
    z-index: 1;
    background-color: #f5f5f5;
    color: #111;
}

.introHeading p {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: Courier New, Courier, monospace;
}

.introLeftPanel {
    margin-left: 20%;
    display: flex;
}

.introSubTitleHeading p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Courier New, Courier, monospace;
}

.introSelfImage {
    height: 4%;
    margin-left: 20%;
    margin-top: 60px;
    border: 2px solid #344955;
    box-shadow: 5px 5px 15px #42535d;
}

@media (max-width:315px) {
    .introLeftPanel {
        display: block;
    }

    .introSelfImage {
        height: 2%;
        margin-left: 0%;
        margin-top: 60px;
        border: 2px solid #344955;
        box-shadow: 5px 5px 15px #42535d;
    }

}

.introTechstack {
    margin-left: 20%;
    text-align: left;
}

.introTechstack h4 {
    font-size: 20px;
}

.introTechstack ul {
    display: flex;
    font-size: 20px;
    margin-bottom: 0%;
    font-weight: 500;
    padding-left: 0%;
}

.introTechstack li {
    padding: 5px;
    list-style-type: none;
}

.introResumeDownload {
    height: 35px;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
    text-decoration: underline;
}