.aboutContainer {
    /* width: 100%; */
    /* border: 2px solid palevioletred; */
    background-color: #E2F4C5;
    color: #344955;

}

.aboutContainer h5 {
    text-align: center;
    font-size: 30px;
    margin-top: 0%;
    padding-top: 50px;
}

.aboutSummary {
    margin-left: 50%;
}

.aboutSummary ul {
    margin-bottom: 0%;
}

.aboutSummary li {
    list-style: none;
    padding: 4%;
    border: 3px solid #344955;
    box-shadow: 5px 5px 15px #42535d;
    border-radius: 0px 20px 0px 20px;
    margin: 2%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0%;
}