.projectsDoneContainer {
    background-color: #f5f5f5;
    color: #111;
}

.projectsDoneContainer h5 {
    text-align: center;
    font-size: 30px;
    margin-top: 0%;
    padding-top: 50px;
}

.projectsDoneCards {
    display: flex;
    width: 60%;
    text-align: center;
    border: 3px solid #344955;
    border-radius: 0px 20px 0px 20px;
    margin-left: 20%;
    justify-content: center;
    padding: 1%;
    margin-top: 2%;
}

.projectsDoneCardsName {
    font-weight: bold;
    font-size: 20px;
}

.projectsDoneCardsRightPanel {
    border: 2px solid #344955;
}

.projectsDoneCardsLink {
    font-size: 20px;
    font-weight: bold;
}

.projectsDoneCardsRightPanel img {
    width: 100%;
}

.projectsDoneCardsLeftPanel {
    padding: 2%;
    width: 90%;
}

.projectsDoneCardsLeftPanel li {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.projectsDoneCardsTechStack {
    font-size: 20px;
    font-weight: 400;
}