.contactMeConatiner {
    display: flex;
    color: #111;
    background-color: #f5f5f5;
    justify-content: center;
}

@media (max-width:500px) {
    .contactMeConatiner {
        display: block;
    }

    .contactMeLeftPannel {
        width: 80%;
        margin-left: 5%;
    }

}

.contactMeLeftPannel {
    width: 50%;
    margin-left: 5%;
}

.contactLeftPannelMeHeader,
.contactMeRightPannelHeader {
    margin-top: 20px;
    margin-left: 1%;
    margin-bottom: 10px;
}

.contactLeftPannelMeHeader span {
    font-size: 20px;
}

.contactMeForm input {
    width: 60%;
    padding: 1%;
    margin: 1%;
    text-align: center;
    border-radius: 0px 20px 0px 20px;
    height: 30px;
}

.contactMeForm button {
    margin: 1%;
    height: 35px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
}

.contactMeRightPannel {
    width: 10%;
}

.contactMeRightPannelHeader span {
    font-size: 20px;
}

.contactMeSocialMediaLinks ul {
    list-style-type: none;
}

.contactMeSocialMediaLinks li {
    padding: 2%;
    color: black;
}